<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/rar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>application/txt</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>chm</extension>
		<mime-type>application/mshelp</mime-type>
	</mime-mapping>
	<listener>
		<listener-class>com.flying.view.listener.MySessionListener</listener-class>
	</listener>
	<filter>
		<display-name>CharsetFilter</display-name>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>com.flying.view.filter.CharsetFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 单点登录服务器端 -->
	<filter>
		<display-name>SSOPermissionFilter</display-name>
		<filter-name>SSOPermissionFilter</filter-name>
		<filter-class>com.flying.view.filter.SSOPermissionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SSOPermissionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 单点登录客户端 -->
	<filter>
		<display-name>SSOFilter</display-name>
		<filter-name>SSOFilter</filter-name>
		<filter-class>com.flying.view.filter.SSOFilter</filter-class>
		<init-param>
			<param-name>SSOLoginPage</param-name>
			<param-value>http://localhost:8080/EngineSSO/login.html</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SSOFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>ParameterFilter</display-name>
		<filter-name>ParameterFilter</filter-name>
		<filter-class>com.flying.view.filter.ParameterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ParameterFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>SqlConditionFilter</display-name>
		<filter-name>SqlConditionFilter</filter-name>
		<filter-class>com.flying.view.filter.SqlConditionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SqlConditionFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>PermissionFilter</display-name>
		<filter-name>PermissionFilter</filter-name>
		<filter-class>com.flying.view.filter.PermissionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PermissionFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>UploadFilter</display-name>
		<filter-name>UploadFilter</filter-name>
		<filter-class>com.flying.view.filter.UploadFilter</filter-class>
		<init-param>
			<param-name>maxSize</param-name>
			<param-value>30485760</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UploadFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>LogFilter</display-name>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.flying.view.filter.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.flying.view.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>XFireServlet</servlet-name>
		<servlet-class>com.flying.view.xfire.XfireServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CommonServlet</display-name>
		<servlet-name>CommonServlet</servlet-name>
		<servlet-class>com.flying.view.servlet.CommonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonServlet</servlet-name>
		<url-pattern>/common.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ValidateCodeServlet</display-name>
		<servlet-name>ValidateCodeServlet</servlet-name>
		<servlet-class>com.flying.view.servlet.ValidateCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateCodeServlet</servlet-name>
		<url-pattern>/ValidateCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Export</display-name>
		<servlet-name>Export</servlet-name>
		<servlet-class>com.flying.view.servlet.Export</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Export</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Import</display-name>
		<servlet-name>Import</servlet-name>
		<servlet-class>com.flying.view.servlet.Import</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Import</servlet-name>
		<url-pattern>/import</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>KindeditorUpload</display-name>
		<servlet-name>KindeditorUpload</servlet-name>
		<servlet-class>com.flying.view.servlet.KindeditorUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KindeditorUpload</servlet-name>
		<url-pattern>/KindeditorUpload</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>KindeditorUploadManager</display-name>
		<servlet-name>KindeditorUploadManager</servlet-name>
		<servlet-class>com.flying.view.servlet.KindeditorUploadManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KindeditorUploadManager</servlet-name>
		<url-pattern>/KindeditorUploadManager</url-pattern>
	</servlet-mapping>
</web-app>